/*
	Top Menu
*/
/* line 4, ../../sass/modules/top-menu.scss */
.top-navigation {
  float: right;
  width: auto;
  list-style-type: none;
  padding: 0;
  margin-right: -15px;
}
/* line 10, ../../sass/modules/top-menu.scss */
.top-navigation li {
  float: left;
}
/* line 12, ../../sass/modules/top-menu.scss */
.top-navigation li a {
  display: inline-block;
  margin: 15px 0 0 15px;
}
